<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.mapper.area.IAreaMapper">

    <!--查询树-->
    <select id="areaList" resultType="com.fh.shop.po.area.Area">
        select id,Name, fatherId from t_area
    </select>

    <insert id="addArea">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into t_area (name,pid) values(#{name},#{pId})
    </insert>

    <delete id="deleteArea">
        delete from t_area where id in
        <foreach collection="list" item="list" open="(" close=")"  separator=",">
            #{list}
        </foreach>
    </delete>

    <update id="updateArea">
        update t_area set name = #{name} where  id= #{id}
    </update>
</mapper>