<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.mapper.type.ITypeMapper">



    <insert id="addType">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into t_type (name,pid) values(#{name},#{pId})
    </insert>

</mapper>